div input {
  appearance: none;
  
  
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  border: 2px solid var(--blue);

  transition: background-color 0.1s;
  transition: border-color 0.1s;
}

div input:hover {
  border-color: var(--blue-dark);
  /* --blue-dar with 0.2 opacity */
  background-color: rgba(30, 111, 159, 0.2);
  
}

div input.checked {
  border-color: var(--purple-dark);
  background-color: var(--purple-dark);
}

div input.checked:hover {
  border-color: var(--purple);
  background-color: var(--purple);
} 

div input.checked::before {
  content: "\2714";
  font-size: 0.8rem;
  color: var(--gray-100);
  position: relative;
  left: 0.18rem;
  bottom: 0.125rem;
}