.container {
  display: flex;
  align-items: flex-start;
  min-height: 4.5rem;
  padding: 1rem;

  background-color: var(--gray-400);
  border-radius: 8px;

  color: var(--gray-100);
  font-size: 0.875rem;
}

.content {
  margin: 0 0.75rem;
}

.contentChecked {
  margin: 0 0.75rem;
  color: var(--gray-300);
  text-decoration: line-through;

}

.container > button {
  background-color: transparent;
  border: 0;
  color: var(--gray-300);

  transition: color 0.1s;
}

.container > button:hover {
  color: var(--danger);
;}